<br /><br />
<div class="card" style="width: 1000px">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    Inspirations
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <img src="../../assets/Twitter.png" width="50" height="50">
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <img src="../../assets/instagram.png" width="50" height="50">
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-body border-top-primary">
                <div class="text-center">
                    <img src="../../assets/youtube.png" width="50" height="50">
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-xl-4">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block" width="65%" (click)="getPeers()">Peer
                    Intel</button>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block" width="65%" (click)="tweets()">Find
                    Tweets</button>
            </div>

        </div>

    </div>
    <div class="row">
        <div *ngIf="show_peer_intel">
            <div *ngFor="let post of peers1">
                <div *ngFor="let p of post">
                    <div class="card">
                        <div class="card-body">
                            <p><img [src]="p.user.profile_image_url">{{p.user.screen_name}}</p>
                            <p></p>
                            <p>{{p.text}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div *ngIf="show_hashtags">
            <div *ngFor="let post of posts">
                <div *ngFor="let p of post">
                    <div class="card">
                        <div class="card-body">
                            <p><img [src]="p.user.profile_image_url">{{p.user.screen_name}}</p>
                            <p></p>
                            <p>{{p.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>