<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>Your Videos
                - <span class="font-weight-semibold"></span>Analyse Video
            </h4>
            <!-- <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a> -->
        </div>

        <div class="header-elements d-none">

        </div>
    </div>
    <!-- /page header -->

    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">

            <br />
            <div class="row">
                <div class="col-xl-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)="showComp('vidfy')"
                        width="90%">Vidfy</button>
                </div>
                <div class="col-xl-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)="showComp('storify')"
                        width="90%">Storify</button>
                </div>
                <div class="col-xl-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)="showComp('inspire')"
                        width="90%">Inspire</button>
                </div>
            </div>


            <app-vidfy *ngIf="show_v"></app-vidfy>
            <app-storify *ngIf="show_s"></app-storify>
            <app-inspire *ngIf="show_i"></app-inspire>

            <br />
            <div class="row" *ngIf="show_v_info" style="width: 1000px;">
                <div class="col-xl-6">
                    <div class="card" style="width: 500px;">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Video Tag Cloud</h5>
                        </div>
                        <div class="card-body">
                            <angular-tag-cloud [data]="data" [width]="options.width" [height]="options.height"
                                [overflow]="options.overflow">
                            </angular-tag-cloud>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="width: 500px;">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Video details</h5>
                        </div>
                        <div class="card-body">
                            Audio: <br />
                            {{audio.text}}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br /><br /><br />
<!--
            
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Your Assests</h5>
            
                                    </div>
            
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart svg-center" id="dimple-pie-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Performance</h5>
            
                                    </div>
            
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart svg-center" id="dimple-pie-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Your Audience</h5>
            
                                    </div>
            
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart svg-center" id="dimple-pie-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Your Peers</h5>
            
                                    </div>
            
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart svg-center" id="dimple-pie-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Resonance</h5>
            
                                    </div>
            
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart svg-center" id="dimple-pie-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div> -->