<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Add an Asset</h5>
            </div>
            <div class="card-body">
                <h4>Select your video </h4><br />
                <div class="form-group">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input type="file" name="avatar" (change)="onFileChange($event)" /> <br />
                        <button type="submit" class="btn btn-primary btn-block">Upload</button>

                    </form>

                </div>
            </div>
            <div class="card-body" *ngIf="show_msg"
                style="background-color: lightgreen;border-radius: 2px;color:mintcream;">
                <h4>{{status}}</h4>
            </div>
        </div>
    </div>
</div>





<!--
    
    <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Your Assests</h5>
        
                                </div>
        
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="chart svg-center" id="dimple-pie-basic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Performance</h5>
        
                                </div>
        
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="chart svg-center" id="dimple-pie-basic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Your Audience</h5>
        
                                </div>
        
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="chart svg-center" id="dimple-pie-basic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Your Peers</h5>
        
                                </div>
        
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="chart svg-center" id="dimple-pie-basic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Resonance</h5>
        
                                </div>
        
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="chart svg-center" id="dimple-pie-basic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div> -->