<div class="navbar navbar-expand-md" min-height=100vh style="background-color:#fed500;">

    <div>
        <a href="/" class="d-inline-block">
            <img src='../../assets/daivid_dashboard.png' style="object-fit: fill;position: relative;                 
                width: 90px;
                height: 38px;">
        </a>
    </div>

    <span class="badge bg-success ml-md-3 mr-md-auto" style="visibility:hidden;">& </span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown dropdown-user">
            <div (click)="auth.logoutUser()" style="color:white;font-weight: bold;padding:5px 15px 0px 20px;">
                <h4><b>Log Out</b></h4>
            </div>
        </li>
    </ul>
</div>
<!-- Page content -->
<div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" style="min-height:100vh;">

        <!-- Sidebar mobile toggler -->
        <!-- <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div> -->
        <!-- /sidebar mobile toggler -->

        <!-- Sidebar content -->
        <div class="sidebar-content">
            <!-- User menu -->
            <div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                            <img src="../../assets/placeholders/placeholder.jpg" width="38" height="38"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-title font-weight-semibold">Welcome {{user}}</div><!-- {{UserId}} -->

                        </div>
                        <div class="ml-3 align-self-center">
                            <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /user menu -->


            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main 
                            <li class="nav-item"><a href="dimple_pies.html" class="nav-link">Pie charts</a></li>-->
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">MENU</div> <i class="icon-menu"
                            title="Main"></i>
                    </li>


                    <li class="nav-item nav-item-submenu">
                        <a (click)="showMenuOption('dashboard')" class="nav-link"><i class="icon-color-sampler"></i>
                            <span>Dashboard</span></a>


                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a (click)="showMenuOption('videos')" class="nav-link"><i class="icon-stack"></i> <span>Your
                                Videos</span></a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a (click)="showMenuOption('videotagcloud')" class="nav-link"><i class="icon-stack"></i>
                            <span>Your
                                Video Tag
                                Cloud</span></a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a (click)="showMenuOption('brand')" class="nav-link"><i class="icon-stack"></i> <span>Your
                                Brand</span></a>
                    </li>



                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <app-videos *ngIf="show_vid"></app-videos>
    <app-videotagcloud *ngIf="show_vidtc"></app-videotagcloud>
    <app-brand *ngIf="show_brand"></app-brand>
    <div class="content-wrapper" *ngIf="show_dash">
        <!-- Page header -->
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h3>{{details[0].brandname}}</h3>
                <!--{{MenuOption}}-->
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <!--If there are any other settings or support -->
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card" min-height="500px">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Stories</h4>
                        </div>
                        <div class="card-body">
                            Stories: 2<br />
                            Platforms: 2<br />
                            <button type="submit" class="btn btn-primary btn-block">Tell a new story</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" min-height="500px">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Assests</h4>
                        </div>
                        <div class="card-body">
                            Videos: {{details[0].assets}}<br /><br /><br /><br /><br />
                            <button type="submit" class="btn btn-primary btn-block" (click)="asset()">Add new
                                Asset</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Performance</h5>
                        </div>

                        <div class="card-body">
                            Stories: 2<br />
                            1: going great!<br />
                            2: Meh...<br /><br /><br />
                            <button type="submit" class="btn btn-primary btn-block">Help me Optimize</button>
                        </div>
                    </div>
                </div>
            </div>
            <app-uploadvideo *ngIf="show_addasset"></app-uploadvideo>
            <!-- <div class="row" *ngIf="show_addasset">
                <div class="col-xl-12">
                    <div class="card">
                        <app-uploadvideo></app-uploadvideo>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Audience</h4>
                        </div>

                        <div class="card-body" width="100%">

                            <ul *ngFor="let i of details[0].audience">
                                <li>{{i}}</li>
                            </ul>

                            <button type="submit" class="btn btn-primary btn-block" (click)="audience()">Add
                                new</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Peers</h4>

                        </div>

                        <div class="card-body">
                            <ul *ngFor="let i of details[0].peers">
                                <li>{{i}}</li>
                            </ul>

                            <button type="submit" class="btn btn-primary btn-block" (click)="peer()">Add new</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Resonance</h5>
                        </div>
                        <div class="card-body">

                            <img src="../../assets/Resonance.png" style="position:relative;top:-50%;left:-0%;"
                                width="114" height="74" />

                            <button type="submit" class="btn btn-primary btn-block">Inspire Me!</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JHBJHBJHBHJ-->

            <div class="row" *ngIf="show_peers">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Add peers</h4>
                        </div>
                        <div class="card-body">
                            <form class="peer-form" ngNativeValidate>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input [(ngModel)]="changepeer" name="changepeer" type="text" class="form-control"
                                        placeholder="Add your peer here" required>
                                    <div class="form-control-feedback">
                                        <i class="icon-pencil7 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" (click)="changePeer()">Add Peer</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="show_aud">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Add Audience</h4>
                        </div>
                        <div class="card-body">
                            <form class="aud-form" ngNativeValidate>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input [(ngModel)]="changeaudience" name="changeaudience" type="text"
                                        class="form-control" placeholder="Add your audience here" required>
                                    <div class="form-control-feedback">
                                        <i class="icon-pencil7 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" (click)="changeAudience()">Add
                                        Audience</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Brand</h4>
                        </div>
                        <div class="card-body">
                            {{details[0].about}}

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>