<br /><br />
<div class="content-wrapper">
    <div class="row" style="width: 1000px">
        <div class="col-xl-12">
            <div class="card card-body border-top-primary">
                <div class="text-center"><br />
                    Video Story Suggestions:<br />
                    <br />
                    <h2>{{data}} </h2><br /><br />
                    Don't like the current video suggestion? <br />
                    <br />
                    <form class="suggest-form" ngNativeValidate>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input [(ngModel)]="changesuggestion" name="changesuggestion" type="text"
                                class="form-control" placeholder="Write your own suggestion here" required>
                            <div class="form-control-feedback">
                                <i class="icon-pencil7 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="changeSuggestion()">Change
                                Suggestion</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>