<app-playvideo *ngIf="show_play"></app-playvideo>
<div class="content-wrapper" *ngIf="show_vids" max-width=100vw>
    <!-- Page header -->
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>Your Videos </h4>
            <!--{{MenuOption}}-->
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">

        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="col-xl-4">
            <div class="row">
                <div *ngFor="let vid of videos">

                    <div class="card-body">
                        <video width="320" height="240" [src]="vid.video" controls>
                            The browser doesn't support the following format
                        </video>
                    </div>
                    <a (click)="showMenuOption('playvideo');newId(vid.video_id);"
                        class="btn btn-link btn-float text-default"><i
                            class="icon-file-stats text-primary"></i><span>Click to
                            Analyze</span></a>
                </div>
            </div>
        </div>


    </div>
</div>