<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Login card -->
            <form class="login-form" ngNativeValidate>
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input [(ngModel)]="loginData.email" name="email" type="email" class="form-control"
                                placeholder="Email Id" required>
                            <div class="form-control-feedback">
                                <i class="icon-mention text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input [(ngModel)]="loginData.username" name="username" type="text" class="form-control"
                                placeholder="Username" required>
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input [(ngModel)]="loginData.password" name="password" type="password" class="form-control"
                                placeholder="Password" required>
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="loginUser()">Login</button>
                        </div>
                        <!--
                                content divider: looks cool: implement in the dahboard
                            <div class="form-group text-center text-muted content-divider">
                                <span class="px-2">Don't have an account?</span>
                            </div>
                            -->
                    </div>
                </div>
            </form>
            <!-- /login card -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->