<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>Your Brand </h4>
            <!--{{MenuOption}}-->
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <!-- upload video was here for your videos-->
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h3><u>{{details[0].brandname}}</u></h3><br />
                        <h4>{{details[0].about}}</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>