<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>Your Video Tag Cloud </h4>
            <!--{{MenuOption}}-->
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <!-- upload video was here for your videos-->
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <app-tagcloud style="margin: 15px;"></app-tagcloud>
    </div>
</div>