<br /><br />
<div class="card card-body border-top-primary" style="margin: 15px;">
    <h5 class="card-title">Inspect Video Timeline</h5>
    <mat-slider [max]="data.max" [min]=0 [step]=200 [thumbLabel]="true" (input)="onInputChange($event)">
    </mat-slider>
    <div class="details">{{this.data1}}</div>
</div>